.card-bg{
    .card-header{
        background: #1C3864;
        color: white;
    }
}

.crd{
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.bg-daftar{
    border: none;
    .card-body{
        background: rgb(4, 119, 4);
        color: white;
        border-radius: 20px;
       cursor: pointer;
        box-shadow: 0 7px 7px rgba(0,0,0,0.5);
        &:hover{
            background: rgb(4, 148, 4);
        }
    }
}