.porto-card{
    border: none;
    
   img{
       cursor: pointer;
       &:hover{
          position: relative;
          width: 350px;
          opacity: 0.6;
          transition: 1s;
       }
   }
}

.txt-por{
    margin-top:80px;
    margin-bottom: 80px;
    h1{
        color: #1C3864
    }
}

