.program-card {
  .card {
    border: none;
    background: none;
  }

  img {
    width: 350px;
    height: 350px;
  }
}

.h1-judul{
  color: #1C3864;
}



@media only screen and(max-width:800px){
  .program-card {
   
  
    img {
      width: 200px;
      height: 200px;
    }
  }
  
}