.card-content31-program {
  border: none;
  background: none;
  margin-top:50px;

  i {
    font-size: 100px;
    color: #1c3864;
  }

  svg {
    font-size: 100px;

    display: block;
    margin: 0 auto;
  }
  p {
    color: rgb(143, 140, 140);
  }
}

.c-3 {
  margin-top: 100px;
  padding-top:50px;
  .h1-program{
    margin-top:50px;
  }
  h1 {
    color: #1C3864;
  }
}

.btn-program{
  height: 270px;
  // margin-bottom: 3000px;
}
