.footer-row{
    h1{
        font-size: 30px;
        border-bottom: 6px solid #16516B;
        width: 18%;
    }
    i{
        font-size: 18px;
        padding: 8px;
    }
}

.title-footer{
    bottom: 0;
    position: absolute;
    padding: 0;
}


