.footer-row {
  margin-top: 100px;
  .card{
      background: none;
      border:none;
  }
  p{
      font-size: 12px;
  }
  .icon-f {
    font-size: 40px;
  }
  .box-f{
      width: 800px;
  }
}

.title-footer {
  bottom: 0;
  position: absolute;
  padding: 0;
}


@media only screen and(max-width:800px){
    .footer-row{
        margin-left:30px;
    }
}

@media only screen and(max-width:400px){
  .footer-row{
    .card{
      width: 200px;
      position: relative;
      
    }
  }

  .box-footer{
   
  position: relative;
  margin: 0;
  padding: 0;  
  
  }
 
}