.card-desc{
    .card{
        width: 1000px;
        border: none;
        background: none;
        h1{
            color: #1C3864;
        }
        p{
            font-size: 30px;
            color: rgb(86, 84, 84);
        }
    }
}