.card-content31-program {
  border: none;
  background: none;
  i {
    font-size: 100px;
    color: #1c3864;
  }

  svg {
    font-size: 100px;

    display: block;
    margin: 0 auto;
  }
  p{
      color: rgb(143, 140, 140);
  }
}
