.bg-txt{
    color: #1C3864;
}

.react-row{
   
.card{
    border:none;
    background: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.8);
    border-radius: 20px;
  

    img{
border-top-left-radius: 20px;
border-top-right-radius: 20px   ;
    }
}

p{
    color: rgb(87, 83, 83);
}
}